* {
  background-color: antiquewhite;
}

#meal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#mealsContainer {
  background-color: aqua;
}

.pop-up {
  margin: 25px 6.5% 25px 6.5%;
  inset: 0;
  border: 1px solid #fff;
  position: fixed;
  overflow-y: scroll;
  z-index: 1;
  transform: scale(0);
  transition: 200ms ease-in-out;
}

.active {
  transform: scale(1);
}

.close-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.close-container span {
  font-size: 5rem;
  font-weight: 700;
  cursor: pointer;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  text-align: center;
}

.meal-description {
  padding: 1.5rem;
}

form {
  display: block;
  text-align: center;
}

input {
  margin-top: 1.5rem;
}

textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#user-name {
  height: 2rem;
}

#suggestion {
  height: 5rem;
  padding: 1rem;
}

.comments-btn {
  display: block;
  margin-left: 50%;
  margin-bottom: 3rem;
}

.comments-container {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(192, 24, 24);
}
